.basedataheadallocation {
    justify-content: space-between;
    /* margin-bottom: 15px; */
}

.maincont {
    width: 70%;
    margin-left: 140px;
}

.headingallocation {
    font-size: 24px;
    margin-left: 110px;
    font-weight: 600;
}

.summaryrowallocation {
    width: 70%;
    margin-left: 115px;
    margin-bottom: 10px;
    display: flex;
    color: #000000;
    justify-content: space-around;
}

.summaryboxallocation {
    padding: 10px;
}

.summaryvalue {
    font-size: 14px;
    background-color: #ffe2b4;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
}
.summaryitem {
    font-size: 12px;
    background-color: #ffe2b4;
    text-align: left;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.titlerowallocation {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #efefef;
}

.monthrow {
    width: 100%;
    padding-left: 110px;
    display: flex;
    color: #807d7d;
    font-weight: 600;
}

.monthbox {
    padding: 10px 20px;
    margin: 10px;
    background-color: #f8f8f8;
}

.activemonthbox {
    padding: 10px 20px;
    margin: 10px;
    background-color: #ddd9d9;
}

.monthitem {
    font-size: 12px;
    text-align: center;
}

.datarowallocation {
    margin-bottom: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.datarowitem {
    background-color: #f8f8f8;
    width: 80%;
}

.submitbtn {
    border: none;
    color: #ffffff;
    background-color: #000000;
    height: 40px;
    width: 60%;
    font-size: 14px;
}

.namecolumn {
    background-color: #f8f8f8;
    padding: 25px;
    font-size: 14px;
    text-align: center;
}

.datacolumn {
    text-align: center;
    font-size: 12px;
}

.projdatarow {
    color: #919191;
    justify-content: space-around;
    margin-bottom: 20px;
}

.projtotalrow {
    color: #919191;
    text-align: center;
    margin-bottom: 20px;
    justify-content: space-around;
}

.line {
    color: #868686;
}
.nameitem {
    color: #707070;
    font-weight: 600;
}
.sek,
.finutil,
.opsutil {
    padding: 10px;
    margin: 10px;
}

.sek {
    background-color: #fddf8c;
}

.finutil {
    background-color: #b3d3a2;
}

.opsutil {
    background-color: #edf0f2;
}

.projdataitem {
    background-color: #f8f8f8;
    padding: 5px;
    margin: 5px;
}

.projtotalitem {
    background-color: #edf0f2;
    font-weight: 600;
    padding: 5px;
    margin: 5px;
}

.emptycolumn {
    margin: 5px;
}
