.basedataheadallocation {
    justify-content: space-between;
    /* margin-bottom: 15px; */
}

.headingallocation {
    font-size: 24px;
    margin-left: 110px;
    font-weight: 600;
}

.summaryrowallocation {
    width: 70%;
    margin-left: 115px;
    margin-bottom: 10px;
    display: flex;
    color: #000000;
    justify-content: space-around;
}

.summaryboxallocation {
    padding: 10px;
}

.summaryvalue {
    font-size: 14px;
    background-color: #ffe2b4;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
}
.summaryitem {
    font-size: 12px;
    background-color: #ffe2b4;
    text-align: left;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.titlerowallocation {
    font-size: 15px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #efefef;
}

.monthrow {
    width: 80%;
    padding-left: 110px;
    color: #c0c0c0;
    font-weight: 600;
}

.monthbox {
    padding-top: 10px;
    padding-bottom: 10px;
}
.monthitem {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 12px;
    background-color: #f8f8f8;
    text-align: center;
}

.datarowallocation {
    margin-bottom: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.datarowitem {
    background-color: #f8f8f8;
    width: 80%;
}
.submitbtn {
    border: none;
    color: #ffffff;
    background-color: #000000;
    height: 40px;
    width: 60%;
    font-size: 14px;
}

.namecolumn {
    background-color: #f8f8f8;
}
